<p id="notice"><%= notice %></p>
<div class="container" id="ancor">
<div class="main-title">
<h1>The Message Board All About The Weather!</h1>
<h2>
<% if user_signed_in? %>
<%=link_to 'New Post', new_post_path %>
<% end %>
</h2>
</div>   
<div class="container-fluid" id="posts-home">

<% @post.each do |post| %>	
   <div class="row">
   	<div class="col-lg-6 col-md-12"><h2 class="post-title"><%= link_to post.title, post %></h2></div>
    <div class="col-lg-6 col-md-12">
    <p class="post-date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
    <p class="post-show"><%= link_to 'Show', post %></p>
    </div>
   <% end %>
   </div>
<div class="paginate">
<%= will_paginate @post %>
</div> 

</div>